<form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
    <h1>Ingreso</h1>
    <label>
        Usuario:
        <input type="text" formControlName="user">
    </label>
    <p>
    <label>
        Contraseña: 
        <input [type]="[oculto]" formControlName="password"><img (click)="hidePassword()" width="20" height="20" src="https://cdn-icons-png.flaticon.com/512/14/14777.png">
    </label>
    </p>

    <p>{{ personaForm.value | json }}</p>
    <p>{{ personaForm.valid }}</p>
    <button [disabled]="!personaForm.valid">Enviar</button>

</form>
<button (click)="reset()">Resetear</button>